<div [formGroup]="form">
    <label *ngIf="label" [for]="fieldId" class="form-label">{{ label }}</label>
    <div class="input-group">
        <input [type]="type" class="form-control" [id]="fieldId" [formControlName]="controlName" [ngClass]="{ 'is-invalid': f?.errors && submitted }" [placeholder]="placeholder">
    </div>
    <div *ngIf="f?.errors && submitted" class="invalid-feedback">
        <div *ngFor="let error of f?.errors | keyvalue">
            {{ getErrorMessage(error.key, error) }}
        </div>
    </div>
</div>